<!DOCTYPE html>
<head>
    <title>ExpressJS</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    {{>header}}
    <h1>404 Page not found</h1>
    <p>You are looking for {{title}} but it is invalid</p>
    {{>footer}}
</body>