<!DOCTYPE html>
<html>

<head>
    <title>ExpressJS</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <div style="text-align: center">
            <img class='portrait' src="img/me.jpg">
        </div>
    </div>
    {{>footer}}
</body>

</html>