<!DOCTYPE html>
<html>

<head>
    <title>ExpressJS</title>
</head>

<body>
    <h1>HEEEEEELP</h1>
    <p>
        This is {{title}} page.
        <br>
        Created by {{name}}
    </p>
    <div style="text-align: center">
        <a href="/">back</a>
    </div>
</body>

</html>